* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-gradient: linear-gradient(90deg, #FC4A1A, #F7B733);
    --brand-color-primary: #F7B733;
    --brand-color: #FC4A1A;

    --background-color: #09090B;
    --surface-color: #18181B;
    --stroke-color: #27272A;
    --text-color-primary: #F4F4F5;
    --text-color-secondary: #A1A1AA;

    --font-family: 'Inter', sans-serif;
    --H1: 800 4rem/1.2 var(--font-family);
    --H2: 800 3rem/1.2 var(--font-family);
    --H3: 800 2rem/1.2 var(--font-family);
    --span: 500 .875rem/1 var(--font-family);
    --paragraph: 400 1rem/1.6 var(--font-family);
    @media screen and (width < 500px) {
        --H1: 800 2.5rem/1.2 var(--font-family);
        --H2: 800 1.5rem/1.2 var(--font-family);
        --H3: 800 1.25rem/1.2 var(--font-family);
        --span: 500 1rem/1 var(--font-family);
        --paragraph: 400 1rem/1.6 var(--font-family);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}