header {
    background-color: var(--background-color);
    height: 6rem;
    display: flex;
    padding-inline: 2rem;
    align-items: center;
    & > nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        & > a {
            margin-block: auto;
            padding-top: 4px;
        }

        & > div {
            display: flex;
            gap: 1.5rem;
            color: var(--text-color-secondary);
            font: var(--paragraph);
            

            & > li {
                margin-block: auto;

                &:last-child {
                    padding: .75rem 1.5rem;
                    background-color: var(--text-color-primary);
                    color: var(--background-color);

                    border-radius: .5rem;
                }

                @media screen and (width < 600px) {
                    &:not(:last-child) {
                        display: none;
                    }
                }
                
            }
        }
    }
}
